*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#eef3ff;

    font-family:"Segoe UI",sans-serif;

}

h1,h2,h3{

    color:#333;

}

button{

    cursor:pointer;

    transition:.3s;

}

button:hover{

    transform:translateY(-2px);

}

input,
select{

    width:100%;

    padding:12px;

    border:1px solid #d1d5db;

    border-radius:10px;

    margin-top:8px;

    margin-bottom:18px;

    font-size:15px;

}

table{

    width:100%;

    border-collapse:collapse;

}

th{

    background:#4F46E5;

    color:white;

}

td,th{

    padding:15px;

    border:1px solid #ddd;

}

.card{

    background:white;

    border-radius:18px;

    padding:25px;

    box-shadow:0 6px 18px rgba(0,0,0,.1);

}

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-thumb{

    background:#4F46E5;

    border-radius:20px;

}